.active {
    position: relative;
}
.active g,
.active path{
    stroke: url(#cyberGradient);
    fill: url(#cyberGradient);
}
.header{
    transition: all .15s ease-in-out;
}

.header-background {
    background-color: var(--background);
    background-size: 4px 4px;
    backdrop-filter: blur(24px);
    transition: all .15s ease-in-out;
}

.navbar {
    div {
        text-shadow: 0 0 10px var(--background);
        font-size: 16px;
        position: relative;

        /*&:after {*/
        /*    content: "";*/
        /*    position: absolute;*/
        /*    inset: 0;*/
        /*    background-color: var(--background);*/
        /*    backdrop-filter: saturate(50%) blur(4px);*/
        /*    opacity: .1;*/
        /*    z-index: -1;*/
        /*}*/
    }
}