.active {
    position: relative;
}

.active g,
.active path {
    stroke: url(#cyberGradient);
    fill: url(#cyberGradient);
}

.header {
    transition: all .15s ease-in-out;
}

.header:after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px var(--foreground);
    opacity: .16;
    pointer-events: none;
}

.header-background {
    background-color: var(--background);
    background-size: 4px 4px;
    backdrop-filter: blur(24px);
    transition: all .15s ease-in-out;
}

.navbar {
    div {
        text-shadow: 0 0 10px var(--background);
        font-size: 16px;
        position: relative;
    }
}