.gitee,
.gitee g,
.gitee path {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
}

.github,
.github g,
.github path {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
}

.isqqw,
.isqqw g,
.isqqw path {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
}

.blog,
.blog g,
.blog path {
    fill: #fff;
    stroke: #fff;
    stroke-width: 2px;
}

.HomeTextSvgIcon g,
.ArticleTextSvgIcon g,
.DiaryTextSvgIcon g,
.PictureTextSvgIcon g,
.AboutTextSvgIcon g {
    fill: var(--foreground);
    stroke: var(--foreground);
    filter: drop-shadow(0 0 14px var(--background));
    stroke-width: 4px;
}