/* VerticalToHorizontalScroll.module.css */
.scroll-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.scroll-content {
    display: inline-block;
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* IE/Edge */
    scrollbar-width: none;     /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, Opera */
}
